$blue: #323a45;
$red: #a8201b;
$yellow: #ffbf00;

$lighter-grey: #e2e4e5;
$light-grey: #bdc3c7;
$grey: #333333;
$dark-grey: #d7d7d7;
$darker-grey: #171717;

$primary: $red;
$success: $blue;
$warning: $red;
$default: $light-grey;

$text-color: $grey;
$link-color: $red;
$hover-color: #ff0900;

$border-color: #d7d7d7;
$border: 1px solid $border-color;
$button-bottom-border-color: #495463;