.views-field-description {
  ul {
    margin: 1em 0;
    padding-left: 20px;

    > li {
      list-style-type: disc;
      
      > ul {
        margin: 0;
        
        > li {
          list-style-type: circle;
        }
      }
    }
  }
}