/**
 * @file
 * Visual styles for comments in Bartik.
 */
/* This is required to win over specificity of #content h2 */
/* line 7, ../../sass/components/comments.scss */
#content .comment-wrapper h2 {
  margin-bottom: 1em; }

/* line 10, ../../sass/components/comments.scss */
#content .comment-wrapper h2.comment-form__title {
  margin-bottom: 1em; }

/* line 13, ../../sass/components/comments.scss */
.field-node--comment {
  font-size: 0.934em; }

/* line 16, ../../sass/components/comments.scss */
.comment {
  margin-bottom: 19px;
  vertical-align: top;
  display: table; }

/* line 21, ../../sass/components/comments.scss */
[dir="rtl"] .comment {
  direction: rtl; }

/* line 25, ../../sass/components/comments.scss */
.comment__meta {
  padding: 0 30px 0 0;
  /* LTR */
  font-size: 1.071em; }

/* line 29, ../../sass/components/comments.scss */
[dir="rtl"] .comment__meta {
  padding: 0 0 0 30px; }

/* line 32, ../../sass/components/comments.scss */
.comment__attribution img {
  border: 1px solid #d3d7d9; }

/* This is required to win over specificity of .field--type-image img */
/* line 36, ../../sass/components/comments.scss */
.comment .field--name-user-picture img {
  margin: 0; }

/* line 39, ../../sass/components/comments.scss */
.comment__author .username {
  white-space: nowrap; }

/* line 42, ../../sass/components/comments.scss */
.comment__author {
  margin: 4px 0;
  line-height: 1.2; }

/* line 46, ../../sass/components/comments.scss */
.comment__time {
  margin-bottom: 4px;
  color: #68696b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.733em;
  line-height: 1.2; }

/* line 53, ../../sass/components/comments.scss */
.comment__permalink {
  font-size: 0.733em;
  line-height: 1.2; }

/* line 57, ../../sass/components/comments.scss */
.comment__content {
  position: relative;
  display: table-cell;
  padding: 10px 25px 10px 25px;
  vertical-align: top;
  width: 100%;
  border: 1px solid #d3d7d9;
  font-size: 0.929em;
  line-height: 1.6;
  word-break: break-all; }

/* line 69, ../../sass/components/comments.scss */
.comment__content:before {
  content: '';
  position: absolute;
  right: 100%;
  /* LTR */
  top: 20px;
  border-top: 20px solid transparent;
  border-right: 20px solid #d3d7d9;
  /* LTR */
  border-bottom: 20px solid transparent; }

/* line 78, ../../sass/components/comments.scss */
[dir="rtl"] .comment__content:before {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 20px solid #d3d7d9; }

/* line 84, ../../sass/components/comments.scss */
.comment__content:after {
  content: '';
  position: absolute;
  right: 100%;
  /* LTR */
  top: 20px;
  border-top: 20px solid transparent;
  border-right: 20px solid #fff;
  /* LTR */
  border-bottom: 20px solid transparent;
  margin-right: -1px;
  /* LTR */ }

/* line 94, ../../sass/components/comments.scss */
[dir="rtl"] .comment__content:after {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 20px solid #fff;
  margin-right: 0;
  margin-left: -1px; }

/* line 102, ../../sass/components/comments.scss */
.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: 1.171em; }

/* line 107, ../../sass/components/comments.scss */
.indented {
  margin-left: 40px;
  /* LTR */ }

/* line 110, ../../sass/components/comments.scss */
[dir="rtl"] .indented {
  margin-right: 40px;
  margin-left: 0; }

/* line 114, ../../sass/components/comments.scss */
.comment .links {
  padding: 0 0 0.25em 0; }

/* line 117, ../../sass/components/comments.scss */
.comment .links li {
  padding: 0 0.5em 0 0;
  /* LTR */
  font-size: 1.08em; }

/* line 121, ../../sass/components/comments.scss */
[dir="rtl"] .comment .links li {
  padding: 0 0 0 0.5em; }

/* line 124, ../../sass/components/comments.scss */
.comment--unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */
  background: #fff4f4; }

/* line 129, ../../sass/components/comments.scss */
[dir="rtl"] .comment--unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px; }

/**
 * @todo: unpublished nodes have class .node--unpublished.
 * change this to .comment--unpublished.
 */
/* line 139, ../../sass/components/comments.scss */
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* line 143, ../../sass/components/comments.scss */
.unpublished {
  padding: 20px 15px 0; }

/* line 146, ../../sass/components/comments.scss */
.comment-footer {
  display: table-row; }

/* line 149, ../../sass/components/comments.scss */
.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #fff4f4;
  /* LTR */ }

/* line 153, ../../sass/components/comments.scss */
[dir="rtl"] .comment--unpublished .comment__content:after,
[dir="rtl"] .node--unpublished .comment__content:after {
  border-left-color: #fff4f4; }

/*# sourceMappingURL=comments.css.map */
