/**
 * @file
 * Visual styles for Bartik's field components.
 */
/* line 6, ../../sass/components/field.scss */
.field--type-entity-reference {
  margin: 0 0 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 10, ../../sass/components/field.scss */
.field--type-entity-reference .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

/* line 15, ../../sass/components/field.scss */
[dir="rtl"] .field--type-entity-reference .field__label {
  padding-left: 5px;
  padding-right: 0; }

/* line 19, ../../sass/components/field.scss */
.field--type-entity-reference .field__label,
.field--type-entity-reference ul.links {
  font-size: 0.8em; }

/* line 23, ../../sass/components/field.scss */
.node--view-mode-teaser .field--type-entity-reference .field__label,
.node--view-mode-teaser .field--type-entity-reference ul.links {
  font-size: 0.821em; }

/* line 27, ../../sass/components/field.scss */
.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none; }

/* This is required to win over specificity of [dir="rtl"] .region-content ul */
/* line 33, ../../sass/components/field.scss */
[dir="rtl"] .field--type-entity-reference ul.links {
  padding: 0; }

/* line 36, ../../sass/components/field.scss */
.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap; }

/* line 41, ../../sass/components/field.scss */
[dir="rtl"] .field--type-entity-reference ul.links li {
  padding: 0 0 0 1em;
  float: right; }

@media all and (min-width: 560px) {
  /* line 46, ../../sass/components/field.scss */
  .node .field--type-image {
    float: left;
    /* LTR */
    margin: 0 1em 0 0;
    /* LTR */ }

  /* line 50, ../../sass/components/field.scss */
  [dir="rtl"] .node .field--type-image {
    float: right;
    margin: 0 0 0 1em; }

  /* line 54, ../../sass/components/field.scss */
  .node .field--type-image + .field--type-image {
    clear: both; } }
/* line 58, ../../sass/components/field.scss */
.field--type-image img,
.field--name-user-picture img {
  margin: 0 0 1em; }

/* line 62, ../../sass/components/field.scss */
.field--type-image a {
  border-bottom: none; }

/* line 65, ../../sass/components/field.scss */
.field--name-field-tags {
  margin: 0 0 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 69, ../../sass/components/field.scss */
.field--name-field-tags .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

/* line 74, ../../sass/components/field.scss */
[dir="rtl"] .field--name-field-tags .field__label {
  padding-left: 5px;
  padding-right: 0; }

/* line 78, ../../sass/components/field.scss */
.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  font-size: 0.8em; }

/* line 82, ../../sass/components/field.scss */
.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  font-size: 0.821em; }

/* line 86, ../../sass/components/field.scss */
.field--name-field-tags ul.links {
  padding: 0;
  margin: 0; }

/* line 90, ../../sass/components/field.scss */
.field--name-field-tags ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap; }

/* line 95, ../../sass/components/field.scss */
[dir="rtl"] .field--name-field-tags ul.links li {
  padding: 0 0 0 1em;
  float: right; }

/*# sourceMappingURL=field.css.map */
