/**
 * @file
 * Visual styles for Bartik's forms.
 */
/* Password field. */
/* line 7, ../../sass/components/form.scss */
.password-field {
  margin: 0; }

/* Form elements. */
/* line 12, ../../sass/components/form.scss */
form {
  margin: 0;
  padding: 0; }

/* line 16, ../../sass/components/form.scss */
fieldset {
  margin: 1em 0;
  min-width: 0; }

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
@-moz-document url-prefix() {
  /* line 27, ../../sass/components/form.scss */
  fieldset {
    display: table-cell; } }
/* line 31, ../../sass/components/form.scss */
details,
fieldset,
.filter-wrapper {
  border-radius: 4px; }

/* line 36, ../../sass/components/form.scss */
.filter-wrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* line 40, ../../sass/components/form.scss */
.filter-help a {
  font-size: 0.857em; }

/* line 43, ../../sass/components/form.scss */
.filter-wrapper .form-item label {
  margin-right: 10px;
  /* LTR */ }

/* line 46, ../../sass/components/form.scss */
[dir="rtl"] .filter-wrapper .form-item label {
  margin-left: 10px;
  margin-right: 0; }

/* line 50, ../../sass/components/form.scss */
summary {
  background: #dbdbdb;
  color: #3b3b3b;
  text-shadow: 0 1px 0 #fff; }

/* line 55, ../../sass/components/form.scss */
details summary a {
  color: #3b3b3b; }

/* line 58, ../../sass/components/form.scss */
details summary a:hover,
details summary a:active,
details summary a:focus {
  color: #000; }

/* line 63, ../../sass/components/form.scss */
details .details-description {
  font-style: italic; }

/* line 66, ../../sass/components/form.scss */
label {
  display: table;
  font-weight: bold; }

/* line 70, ../../sass/components/form.scss */
label[for] {
  cursor: pointer; }

/* line 73, ../../sass/components/form.scss */
input,
textarea,
select {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }

/* line 78, ../../sass/components/form.scss */
input {
  margin: 2px 0;
  padding: 4px;
  /* Keep form elements from overflowing their containers. */
  max-width: 100%;
  box-sizing: border-box; }

/* line 85, ../../sass/components/form.scss */
input,
textarea {
  font-size: 0.929em; }

/**
 * Make the font slightly bigger in mobile
 * @todo: check the correct font-size
 */
@media screen and (max-width: 60em) {
  /* 920px */
  /* line 95, ../../sass/components/form.scss */
  input,
  textarea {
    font-size: 16px; } }
/* line 100, ../../sass/components/form.scss */
textarea {
  line-height: 1.5; }

/* line 103, ../../sass/components/form.scss */
textarea.form-textarea,
select.form-select {
  padding: 4px; }

/* line 107, ../../sass/components/form.scss */
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  color: #3b3b3b; }

/* line 120, ../../sass/components/form.scss */
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede; }

/* line 124, ../../sass/components/form.scss */
.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */ }

/* line 127, ../../sass/components/form.scss */
[dir="rtl"] .password-suggestions ul li {
  margin-right: 1.2em;
  margin-left: 0; }

/* line 131, ../../sass/components/form.scss */
.form-item label,
.form-wrapper .label {
  font-size: 0.929em; }

/* line 135, ../../sass/components/form.scss */
.form-wrapper .field-multiple-table .label {
  font-size: inherit; }

/* line 138, ../../sass/components/form.scss */
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
  /* LTR */ }

/* line 142, ../../sass/components/form.scss */
[dir="rtl"] .form-type-radio label,
[dir="rtl"] .form-type-checkbox label {
  margin-right: 4px;
  margin-left: 0; }

/* line 147, ../../sass/components/form.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
  /* LTR */ }

/* line 151, ../../sass/components/form.scss */
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-right: 2px;
  margin-left: 0; }

/* line 156, ../../sass/components/form.scss */
.form-actions {
  padding-top: 10px; }

/* Node Form */
/* line 161, ../../sass/components/form.scss */
#edit-body {
  margin-bottom: 2em; }

/* line 164, ../../sass/components/form.scss */
.node-form label,
.node-form .description,
.node-form .form-wrapper .label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 169, ../../sass/components/form.scss */
.node-form .form-wrapper .field-multiple-table .label {
  font-family: inherit; }

/* line 172, ../../sass/components/form.scss */
.node-form .form-wrapper {
  margin-bottom: 2em; }

/* line 175, ../../sass/components/form.scss */
.node-form .node-form-footer,
.node-form .field--name-status {
  margin-bottom: 0; }

/* line 179, ../../sass/components/form.scss */
.node-form .form-actions {
  padding-top: 0;
  margin-top: 0; }

/* Contact Form */
/* line 185, ../../sass/components/form.scss */
.contact-form #edit-name {
  width: 75%; }

/* line 188, ../../sass/components/form.scss */
.contact-form #edit-mail {
  width: 75%; }

/* line 191, ../../sass/components/form.scss */
.contact-form input[id^=edit-subject] {
  width: 75%; }

/* Disabled form elements */
/* line 198, ../../sass/components/form.scss */
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171; }

/* line 205, ../../sass/components/form.scss */
.form-disabled label {
  color: #717171; }

/* Comment form */
/* line 210, ../../sass/components/form.scss */
.comment-form label {
  float: left;
  /* LTR */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.929em;
  width: 120px; }

/* line 216, ../../sass/components/form.scss */
[dir="rtl"] .comment-form label {
  float: right; }

/* line 219, ../../sass/components/form.scss */
.comment-form input,
.comment-form .form-select {
  margin: 0;
  border-radius: 4px; }

/* line 224, ../../sass/components/form.scss */
.comment-form .form-type-textarea label {
  float: none; }

/* line 227, ../../sass/components/form.scss */
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden; }

/* line 234, ../../sass/components/form.scss */
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
  /* LTR */ }

/* line 238, ../../sass/components/form.scss */
[dir="rtl"] .comment-form .form-type-checkbox,
[dir="rtl"] .comment-form .form-radios,
[dir="rtl"] .comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px; }

/* line 244, ../../sass/components/form.scss */
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0; }

/* line 249, ../../sass/components/form.scss */
.comment-form input.form-file {
  width: auto; }

/* line 252, ../../sass/components/form.scss */
.layout-no-sidebars .comment-form .form-text {
  width: 800px; }

/* line 255, ../../sass/components/form.scss */
.layout-one-sidebar .comment-form .form-text {
  width: 500px; }

/* line 258, ../../sass/components/form.scss */
.layout-two-sidebars .comment-form .form-text {
  width: 320px; }

/* line 261, ../../sass/components/form.scss */
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */ }

/* line 266, ../../sass/components/form.scss */
.comment-form .form-textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

/* line 270, ../../sass/components/form.scss */
.comment-form details.filter-wrapper .details-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0; }

/* line 275, ../../sass/components/form.scss */
.filter-wrapper label {
  width: auto;
  float: none; }

/* line 279, ../../sass/components/form.scss */
.filter-wrapper .form-select {
  min-width: 120px; }

/* line 282, ../../sass/components/form.scss */
.comment-form details.filter-wrapper .tips {
  font-size: 0.786em; }

/* line 285, ../../sass/components/form.scss */
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em; }

/* line 288, ../../sass/components/form.scss */
#edit-actions input {
  margin-right: 0.6em;
  /* LTR */ }

/* line 291, ../../sass/components/form.scss */
[dir="rtl"] #edit-actions input {
  margin-left: 0.6em;
  margin-right: 0; }

/* Form error styles. */
/* line 297, ../../sass/components/form.scss */
.form-item textarea.error + .cke {
  border: 2px solid red; }

/* Form error message styles. */
/* line 302, ../../sass/components/form.scss */
.form-item--error-message {
  color: #e32700; }

/**
 * Improve form element usability on narrow devices.
 */
@media all and (max-width: 600px) {
  /* line 310, ../../sass/components/form.scss */
  .form-actions .button {
    float: none;
    margin: 10px 0 0;
    padding-bottom: 6px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

  /* line 321, ../../sass/components/form.scss */
  .js .dropbutton .dropbutton-action > input,
  .js .dropbutton .dropbutton-action > a,
  .js .dropbutton .dropbutton-action > button {
    text-align: center;
    padding-left: 3em; } }

/*# sourceMappingURL=form.css.map */
