/* ------------------ Header ------------------ */
/* line 2, ../../sass/components/header.scss */
#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 5, ../../sass/components/header.scss */
.header .section {
  position: relative; }

/* line 8, ../../sass/components/header.scss */
.region-header {
  padding: 0.357em 15px 0; }

/* line 11, ../../sass/components/header.scss */
.region-header .site-branding {
  margin-top: 0.429em; }

@media all and (min-width: 461px) {
  /* line 15, ../../sass/components/header.scss */
  .region-header .block {
    float: right;
    /* LTR */
    margin-top: 0.357em; }

  /* line 19, ../../sass/components/header.scss */
  [dir="rtl"] .region-header .block {
    float: left; }

  /* line 22, ../../sass/components/header.scss */
  .region-header .site-branding {
    float: left;
    /* LTR */
    /* margin-bottom: 1.857em; */ }

  /* line 26, ../../sass/components/header.scss */
  [dir="rtl"] .region-header .site-branding {
    float: right; } }
@media screen and (max-width: 460px) {
  /* line 31, ../../sass/components/header.scss */
  .region-header {
    padding-bottom: 0.357em; } }
/* Region header blocks. */
/* line 36, ../../sass/components/header.scss */
.region-header .block:not(.site-branding) {
  font-size: 0.857em;
  margin: 0 0 1em;
  clear: right; }

@media all and (min-width: 901px) {
  /* line 42, ../../sass/components/header.scss */
  .region-header .block:not(.site-branding) {
    margin: 1.167em 0 1em; } }
/* line 46, ../../sass/components/header.scss */
.region-header .block > h2 {
  /* @extend .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

/* line 53, ../../sass/components/header.scss */
.header .block .content {
  margin: 0;
  padding: 0; }

/* line 57, ../../sass/components/header.scss */
.region-header .block ul {
  padding: 0; }

/* line 60, ../../sass/components/header.scss */
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0; }

/* line 65, ../../sass/components/header.scss */
.region-header .branding {
  font-size: 1em; }

/* line 68, ../../sass/components/header.scss */
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  /* LTR */
  width: 120px; }

/* line 76, ../../sass/components/header.scss */
[dir="rtl"] .region-header .form-text {
  margin-left: 2px;
  margin-right: 0; }

/* line 80, ../../sass/components/header.scss */
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8); }

/* line 86, ../../sass/components/header.scss */
.region-header .form-required:after {
  background-image: url(../../images/required.svg); }

/* Region header block menus. */
/* line 90, ../../sass/components/header.scss */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px; }

/* line 97, ../../sass/components/header.scss */
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px; }

/* line 104, ../../sass/components/header.scss */
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15); }

/* line 110, ../../sass/components/header.scss */
.region-header .block-menu li:last-child a {
  border-bottom: 0; }

/* User Login block in the header region. */
/* line 114, ../../sass/components/header.scss */
.region-header #block-user-login {
  width: auto; }

/* line 117, ../../sass/components/header.scss */
.region-header #block-user-login .content {
  margin-top: 2px; }

/* line 120, ../../sass/components/header.scss */
.region-header #block-user-login .form-item {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0; }

/* line 125, ../../sass/components/header.scss */
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0; }

/* line 130, ../../sass/components/header.scss */
.region-header #block-user-login div.item-list {
  clear: both; }

/* line 133, ../../sass/components/header.scss */
.region-header #block-user-login div.description {
  display: inline; }

/* line 136, ../../sass/components/header.scss */
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1; }

/* line 140, ../../sass/components/header.scss */
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left;
  /* LTR */
  padding: 3px 0 1px; }

/* line 145, ../../sass/components/header.scss */
.region-header #block-user-login .item-list li:last-child {
  padding-left: 0.5em;
  /* LTR */ }

/* line 148, ../../sass/components/header.scss */
[dir="rtl"] .region-header #block-user-login .item-list li:last-child {
  padding-left: 0;
  padding-right: 0.5em; }

/* line 152, ../../sass/components/header.scss */
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both; }

/* line 157, ../../sass/components/header.scss */
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px; }

/* line 166, ../../sass/components/header.scss */
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

/* Search block in header region. */
/* line 172, ../../sass/components/header.scss */
.region-header #block-search-form {
  width: 208px; }

/* line 175, ../../sass/components/header.scss */
.region-header #block-search-form .form-text {
  width: 154px; }

/* line 178, ../../sass/components/header.scss */
.region-header .search-block-form {
  float: right;
  /* LTR */ }

/* line 181, ../../sass/components/header.scss */
[dir="rtl"] .region-header .search-block-form {
  float: left; }

/* Language switcher block in header region. */
/* line 186, ../../sass/components/header.scss */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em; }

/* line 190, ../../sass/components/header.scss */
[role*=banner] a {
  border-bottom: none; }

/* line 194, ../../sass/components/header.scss */
[dir="rtl"] .branding,
[dir="rtl"] .site-logo,
[dir="rtl"] .site-branding-text,
[dir="rtl"] .region-header #block-user-login .form-item,
[dir="rtl"] .region-header #block-user-login .item-list li {
  float: right; }

/*# sourceMappingURL=header.css.map */
